<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CommunyTalk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CommunyTalk.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="horizontal">
                        <li class="nav-item">
                        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                        <img class="imgMenu" src="/images/FlechaAbajo.png">
                        </button>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index"><p>Home</p></a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index"><p>CommunyTalk</p></a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="SearchGroups"><p>Buscar Grupos</p></a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="SearchFriends"><p>Buscar Amigos</p></a>
                        </li> 
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="SearchCommunities"><p>Buscar Comunidades</p></a>
                        </li> 
                        <li class="nav-item">
                            <div class="User">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><img class="imgPerfil"  src="/images/UserImages/IconPrueba.jpg"></a>
                            </div>
                            <ul class="vertical">
                                <li>Hola</li>
                                <li>Chau</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Categoría</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">        
            <ul class="sidebarbuttons">
                <li class="sidebarbutton"><a asp-controller="Home" asp-action="SearchGroups">Grupos</a></li>
                @{
                    List<Grupos> ListaGrupos = BD.ObtenerTresGrupos();
                    foreach(Grupos grupo in ListaGrupos)
                    {
                        string FotodePerfil = "/images/GroupImages/" + grupo.FotodePerfil;
                        <div class="imagenyText">
                            <img src="@FotodePerfil">
                            <p>@grupo.Nombre</p>
                        </div>
                    }
                }
                <li class="sidebarbutton"><a asp-controller="Home" asp-action="SearchCommunities">Comunidades</a></li>
                 @{
                    List<Comunidades> ListaComunidades = BD.ObtenerTresComunidades();
                    foreach(Grupos grupo in ListaGrupos)
                    {
                        string FotodePerfil = "/images/CommunityImages/" + grupo.FotodePerfil;
                        <div class="imagenyText">
                            <img src="@FotodePerfil">
                            <p>@grupo.Nombre</p>
                        </div>
                    }
                }
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
