@{
    ViewData["Title"] = "Editar Usuario";
}


    <link rel="stylesheet" href="~/css/PerfilEdit.css" />



<div class="PerfilEdit-Header">
    <h1 class="PerfilEdit-Title">Editar Usuario</h1>
    <a href='@Url.Action("Usuario", "Home")'>
        <img class="PerfilEdit-CancelIcon" src="/images/Cancelar.png" alt="Cancelar"/>
    </a>
</div>

<div class="PerfilEdit-Container">
    <div class="PerfilEdit-Card">
        <img class="PerfilEdit-Photo" src="/images/UserImages/defaultBlanco.jpeg" alt="Foto de perfil actual"/>

        <form method="post" asp-controller="Home" asp-action="EditarPerfil" class="PerfilEdit-Form">
            @{
                string FotodePerfil = "/images/UserImages/" + BD.ObtenerFoto(BD.IdUsuarioSesion);
                string NameTag = BD.ObtenerNameTag();
                string Nombre = BD.ObtenerNombre();
                string Apellido = BD.ObtenerApellido();
                string Pronombres = BD.ObtenerPronombres();
                string Descripcion = BD.ObtenerDescripcion();
            }

            <label>Link a la foto de perfil</label>
            <input name="FotodePerfil" placeholder="URL" value="@FotodePerfil"/>

            <label>Nametag</label>
            <input id="NameTag" name="NameTag" placeholder="Nametag" value="@NameTag" />

            <label>Nombre</label>
            <input id="Nombre" name="Nombre" placeholder="Nombre" value="@Nombre" />

            <label>Apellido</label>
            <input id="Apellido" name="Apellido" placeholder="Apellido" value="@Apellido" />

            <label>Pronombres</label>
            <input id="Pronombres" name="Pronombres" placeholder="Pronombres" value="@Pronombres" />

            <label>Descripción</label>
            <input id="Descripcion" name="Descripcion" placeholder="Descripción" value="@Descripcion" />

            <div class="PerfilEdit-BtnContainer">
                <button type="submit" class="PerfilEdit-SubmitBtn">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>
