@{
    ViewData["Title"]="Editar Usuario";
}

@{
    ViewData["Title"] = "Perfil";
}

<style>
body{
    background-color: #63468d;
}
</style>
<!--Queda de backend Crear una Funci칩n para conseguir de la BD la InfoUsuario de la Usuario y conectarla con ViewBag ac치, luego en editar la Funci칩n para update eso-->
<div class="EditarInfoUsuario">
    <h1 class="NombreUsuario">Usuario</h1> <!--Nametag-->
    <a href='@Url.Action("Usuario", "Home")'><img class="IconoEditarUsuario" src="/images/Cancelar.png"/></a>
</div>
<div class="EditarEstructura">
    <div class="Perfil">
        <div class="InfoUsuario">
            <img class="ViewFotodePerfil" src="/images/UserImages/defaultBlanco.jpeg"/>
            <form method="post" asp-controller="Home" asp-action="EditarPerfil">
                @{
                    string FotodePerfil = "/images/UserImages/" + BD.ObtenerFoto(BD.IdUsuarioSesion);
                    string NameTag = BD.ObtenerNametag();
                    string Nombre = BD.ObtenerNombre();
                    string Apellido = BD.ObtenerApellido();
                    string Pronombres = BD.ObtenerPronombres();
                    string Descripcion = BD.ObtenerDescripcion();
                     
                    <input name="FotodePerfil" placeholder="Link a la foto de perfil"/>
                    <p>Nametag: </p>
                    <input id="NameTag" name="NameTag" placeholder="@NameTag">
                    <p>Nombre: </p>
                    <input id="Nombre" name="Nombre" placeholder="@Nombre">
                    <p>Apellido: </p>
                    <input id="Apellido" name="Apellido" placeholder="@Apellido">
                    <p>Pronombres: </p>
                    <input id="Pronombres" name="Pronombres" placeholder="@Pronombres">
                    <p>Descripci칩n: </p>
                    <input id="Descripcion" name="Descripcion" placeholder="@Descripcion">
                }
                <div class="botonesNo">
                    <button type="submit" class="BotonIniciar">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>