@{
    ViewData["Title"] = "Mensajes Privados";
}

<style>
body{
background-color: white;
}
</style>
<h1 class="ChatName">Grupogroup</h1>   
        <div class="OwnMessages">
                <div class="Mensaje">
                    <p class="MessageText">jajajaj</p>
                    <p class="FechaHora">:0</p>
                </div>
                <img class="FotodePerfil" src="/images/UserImages/IconPrueba.jpg">
                </div>
                <div class="OtherMessages">
                <img class="FotodePerfil" src="/images/UserImages/IconPrueba.jpg">
                <div class="Mensaje">
                    <p class="MessageText">lolololo</p>
                    <p class="FechaHora">1/1/1</p>
                </div>
            </div>
@{
    foreach(Mensajes mensaje in ViewBag.Mensajes)
    {
        string FotodePerfil = "/images/UserImages/" + BD.ObtenerFoto(mensaje.IdUsuarioEmisor);
        if(mensaje.IdUsuarioEmisor == ViewBag.IdUsuarioSesion) //Si el mensaje es del usuario local, se pone a la derecha, sino, se pone a la izquierda.
        {
            <div class="OwnMessages">
                <div class="Mensaje">
                    <p class="MessageText">@mensaje.Contenido</p>
                    <p class="FechaHora">@mensaje.FechaHora</p>
                </div>
                <img class="FotodePerfil" src="@FotodePerfil">
            </div>
        }
        else
        {
            <div class="OtherMessages">
                <img src="@FotodePerfil ">
                <div class="Mensaje">
                    <p class="MessageText">@mensaje.Contenido</p>
                    <p class="FechaHora">@mensaje.FechaHora</p>
                </div>
            </div>
        }
    }
}
<form action= '@Url.Action("EnviarMensajeGrupo","Home")' class="EnviarMensaje">
    <div class="Send">
        <input class="Message" type="text" name="Contenido"> 
        <button><img class="send" src="/images/Send.png"></button>
    </div>
</form>

<style>
main {
  margin-top: 125px; 
  padding: 20px;
}
</style>