@{
    ViewData["Title"] = "Perfil";
}

<style>
body{
    background-color: #63468d;
}
</style>
<!--Queda de backend crear una Función para conseguir de la BD la InfoUsuario de la Usuario y conectarla con ViewBag acá, luego en editar la Función para update eso-->
<div class="EditarInfoUsuario">
    <h1 class="NombreUsuario">Usuario</h1> <!--Nametag-->
    <a href='@Url.Action("EditarUsuario", "Home")'><img class="IconoEditarUsuario" src="/images/EditarUsuario.png"/></a>
</div>
<div class="Perfil">
    @{
        string FotodePerfil = "/images/UserImages/" + BD.ObtenerFoto(BD.IdUsuarioSesion);
        string Nametag = BD.ObtenerNameTag();
        string Email = BD.ObtenerEmail();
        string Pronombres = BD.ObtenerPronombres();
        string Descripcion = BD.ObtenerDescripcion();

        <img class="ViewFotodePerfil" src="@FotodePerfil"/>
        <div class="InfoUsuario">
            <p>Nombre: @Nametag</p>
            <p>Email: @Email</p>
            <p>Pronombres: @Pronombres</p>
            <p>Descripción: @Descripcion</p>
        </div>
    }
    <button class="BotonAmigos"><a href='@Url.Action("SearchFriends", "Home")'>Amigos</a></button>
</div>

<form asp-controller="Home" asp-action="Logout" method="post" class="cerrarSesion">
    <button class="Boton1">Cerrar sesión</button>
</form>
