@{
    ViewData["Title"] = "Mensajes Privados";
}
<h1 class="ChatName">@ViewBag.Nombre</h1>
 @{
    foreach(Mensajes mensaje in ViewBag.Mensajes)
    {
        string FotodePerfil = "/images/UserImages/" + BD.ObtenerFoto(mensaje.IdUsuarioEmisor);
        if(mensaje.IdUsuarioEmisor == ViewBag.IdUsuarioSesion) //Si el mensaje es del usuario local, se pone a la derecha, sino, se pone a la izquierda.
        {
            <div class="OwnMessages">
                <div class="Mensaje">
                    <p class="MessageText">@mensaje.Contenido</p>
                    <p class="FechaHora">@mensaje.FechaHora</p>
                </div>
                <img width=5% class="FotodePerfil" src="@FotodePerfil">
            </div>
        }
        else
        {
            <div class="OtherMessages">
                <img class="FotodePerfil" src="@FotodePerfil ">
                <div class="Mensaje">
                    <p class="MessageText">@mensaje.Contenido</p>
                    <p class="FechaHora">@mensaje.FechaHora</p>
                </div>
            </div>
        }
    }
}
<form action= '@Url.Action("EnviarMensajePrivado","Home")' class="EnviarMensaje">
    <div class="Send">
        <input class="Message" type="text" name="Contenido"> 
        <button><img class="send" src="/images/Send.png"></button>
    </div>
</form>

<style>
    main {
        margin-bottom: 124px;
    }
</style>