@{
    ViewData["Title"] = "Registrar";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="~/css/Register.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>


<style>
    body{
        background-color: #171717;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
</style>

<div class="FondoCuadrado">

     <!--<div class="Contenedor1">
     <form id="registerForm" asp-action="Register" method="post" onsubmit="return validarContrasenia()">

                <h2 class="text-center">Registro</h2>

                Esto lo tenes que repetir por cada cosa que quieras registrar
                 <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="Nombre" class="form-control" placeholder="Nombre" value="@Model.Nombre" required>

                    <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" id="apellido" name="Apellido" class="form-control" placeholder="Apellido" value="@Model.Apellido" required>
                </div>


                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input type="number" id="dni" name="DNI" class="form-control" placeholder="DNI" value="@Model.DNI" required>
                </div>


                <div class="form-group">
                    <label for="email">Mail</label>
                    <input type="email" id="email" name="Email" class="form-control" placeholder="Mail" value="@Model.Email" required>
                </div>


                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" name="Telefono" class="form-control" placeholder="Teléfono" value="@Model.Telefono" required>
                </div>


                <div class="form-group">
                    <label for="fnac">Fecha de Nacimiento</label>
                    <input type="date" id="fnac" name="Fnac" class="form-control" value="@Model.Fnac.ToString("yyyy-MM-dd")" required>
                </div>


                <div class="form-group">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" name="Contraseña" class="form-control" placeholder="Contraseña" required>
                </div>


                <div class="form-group">
                    <label for="contraseña2">Confirmar Contraseña</label>
                    <input type="password" id="contraseña2" name="ConfirmarContrasenia" class="form-control" placeholder="Confirmar Contraseña" required>
                </div>


                <button type="submit" class="btn btn-primary btn-block">Regístrate</button>

                <div class="text-center mt-3">
                    <a href="@Url.Action("Login", "Account")" class="text-dark">¿Ya tienes una cuenta? Inicia Sesión</a>
                </div>

                </div> -->

        <p class="EstiloTexto">Ingrese su mail.</p>
        <input type="email" method="post" >
        <p class="EstiloTexto">Ingrese su contraseña.</p>
        <input type="password" method="post" >
        <p class="EstiloTexto">Ingrese su contraseña nuevamente.</p>
        <input type="password" method="post" >
        <div class="botonesNo">
            <button class="BotonIniciar"><a href='@Url.Action("Login", "Home")'>Iniciar sesión</a></button> 
        </div>
    
    </div>

</div>


<script src="~/js/register.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
