<section class="search-section">
    <h1 class="tituloGrupos">Comunidades</h1>
    <div class="search-container">
        <input type="text" id="searchInputCommunities" placeholder="Buscar comunidades..." />
               <button type="submit" class="search-button">
                        <img class="lupa" src="/images/lupa.png"/>
                    </button>
    </div>
    <div class="container">
        <div class="row justify-content-start" id="communityList">
            @foreach(Comunidades comunidad in ViewBag.Comunidades)
            {
                string FotoPerfil = @comunidad.FotoDeComunidad;
                <div class="col-auto mb-3 community-card" data-community-name="@comunidad.Nombre">
                    <a asp-controller="Home" asp-action="CommunyChat" asp-route-IdComunidad="@comunidad.IdComunidad">
                        <div class="card carta" style="width: 560px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="@FotoPerfil" class="img-fluid rounded-start cartaImagen">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h1 class="card-title">@comunidad.Nombre</h1>
                                        <p class="card-text">@comunidad.Descripcion</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

<!-- Script para la búsqueda en tiempo real -->
<script>
    const searchInputCommunities = document.getElementById('searchInputCommunities');
    const communityList = document.getElementById('communityList');
    let debounceTimer;

    // Función para filtrar comunidades por el comienzo del nombre
    function filterCommunities() {
        const searchText = searchInputCommunities.value.toLowerCase();
        const communityCards = communityList.getElementsByClassName('community-card');

        for (let card of communityCards) {
            const communityName = card.getAttribute('data-community-name').toLowerCase();
            if (communityName.startsWith(searchText)) {
                card.style.display = 'block'; // Muestra la tarjeta si el nombre empieza con el texto
            } else {
                card.style.display = 'none'; // Oculta la tarjeta si no empieza con el texto
            }
        }
    }

    // Configuración de debounce para esperar 500ms después de la última escritura
    searchInputCommunities.addEventListener('input', () => {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(filterCommunities, 500);
    });
</script>
